doctype html
html(lang="en")
  head
    title= "Hillary for America"
    link(href='../stylesheets/style.less', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
    
    
    
    

  body
    div#navBar
      ol
        li 
          img.logoNav(src='/images/Logo.png')

    h1 Hillary for America
    p
      Vote Hillary 2016


    div
      div.upcomingEvents
        div.moreDetails

    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type="text/javascript", src="/javascripts/hfa.js")


