doctype html
html(lang="en")
  head

  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

    button(class='eventsButton') View Event Details

    script "https://www.ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    //- script ../public/javascripts/hfa.js

