@background: white;

@button: blue;

@mainFont:'Montserrat', sans-serif;

body{
	background-color: @background;
	font-family: @mainFont;
}
ol{
	list-style: none;
}



.hide{
	display: none;
}

.eventsButton{
	background-color: @button;
	color: @background;
	border-radius: 10px;
	padding: 10px 20px;
	font-family: @mainFont;
	font-weight: bold;
	

}

.secondary_info{
	height: 200px;
	background-color: yellow;
	display: none;
}

