body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.banner {
  width: 100%;
}
ol {
  list-style: none;
}
.hide {
  display: none;
}
.eventsButton {
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.secondary_info {
  background-color: #d9e1f9;
  display: none;
  padding: 10px;
  margin-bottom: 20px;
}
#navBar {
  display: inline-block;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid grey;
}
.logoNav {
  height: 40px;
  float: left;
}
ol {
  width: 96%;
  display: block;
  padding-left: 0;
  margin: 10px 10px 10px 20px;
}
li {
  display: inline-block;
  width: 15%;
}
#status,
#count {
  font-size: 20px;
}
#eventsHead {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 55px;
}
h1.eventName {
  display: inline-block;
  width: 800px;
}
img.star {
  height: 42px;
  margin-top: 6px;
}
.main_info {
  padding: 20px;
}
p {
  width: 700px !important;
}
.starImage {
  width: 40px;
  height: 40px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  li {
    width: 32%;
  }
  h1.eventName {
    display: inline-block;
    margin-left: 0px;
    padding-left: 10px;
    width: 500px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #status {
    width: 240px;
  }
  p {
    max-width: 300px;
  }
  h1.eventName {
    display: inline-block;
    width: 229px;
    font-size: 25px;
  }
  .starImage {
    width: 20px;
    height: 20px;
  }
}
