body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
ol {
  list-style: none;
}
.moreDetails {
  display: none;
}
.eventsButton {
  background-color: #0000ff;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}
