@background: white;

@button: blue;

@mainFont:'Montserrat', sans-serif;

body{
	background-color: @background;
	font-family: @mainFont;
	margin: 0;
}
ol{
	list-style: none;
}



.hide{
	display: none;
}

.eventsButton{
	background-color: @button;
	color: @background;
	border-radius: 10px;
	padding: 10px 20px;
	font-family: @mainFont;
	font-weight: bold;
	

}

.secondary_info{
	background-color: #d9e1f9;
	display: none;
	padding: 10px;
	margin-bottom: 20px;
}


.hide{
	display: none;
}

#navBar{
	display: inline-block;
	height: 60px;
	width: 100%;
	border-bottom: 3px solid grey;


}

.logoNav{
	height: 40px;
	float: left;

}
ol{
	width: 96%;
	display: block;

}

li{

	display: inline-block;
	width:20%;
}

.banner{
	width: 100%;
}
#status, #count{
	font-size: 20px;
}
#eventsHead{
	margin-top: 20px;
}

h1.eventName {
    display: inline-block;
}

img.star {
    height: 42px;
    margin-top: 6px;
}

.main_info{
	padding: 20px;
}


